h1 {
	font-size: 200px
	font-color: black;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
h3 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	font-size: 14px;
	margin-right: 160px;
	margin-left: 160px;
}

.LA-metro-map {
	margin: auto;
	width: 455px;
	display: block;
    position: relative;
}

.slider {
	width: 300px;
	margin: auto;
}

.slider-image {
	width: 100%;
}
.topnav {
  overflow: hidden;
  background-color: #5D6D7E;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #1B2631;
    color: white;
}