h1 {
	color: #212F3D;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	}
h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
p {
	text-align: center;
}
h3 {
	font-family: 'Roboto', sans-serif;
}
.Asia{
	font-size: 25px;
	float: left; width: 33%; 
}
.Europe{
	font-size: 25px;
	display: inline-block; width: 33%;
}
.America{
	font-size: 25px;
	float: right; width: 33%; 
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
img {
    opacity: 0.5;
    filter: alpha(opacity=50);
	}
img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);}

#social-buttons button {
color: white;
}
.btn-instagram {
background-color: #b62f26;
border-color: #b62f26;
}
.form-group {
	font-size: 14px;

